#onboarding-background {
  background-color: rgba(15, 18, 30, 0.85);
  box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.4);
  position: relative;
}

#onboarding-background:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  filter: blur(60px);
  background: linear-gradient(90deg, #00ffee, #9a00ff);
  background-size: 300% 300%;
  animation: animateGlow 8s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
